<h1>Ejemplo Session</h1>

<h2 style="color: red">
    @ViewData["mensaje"]
</h2>

<ul class="list-group list-group-horizontal">
    <li class="list-group-item">
        <a asp-action="EjemploSession"
           asp-controller="Home"
           asp-route-accion="almacenar">Almacenar Session</a>
    </li>
    <li class="list-group-item">
        <a asp-action="EjemploSession"
           asp-controller="Home"
           asp-route-accion="mostrar">Mostrar Session</a>
    </li>
</ul>
<h2 style="color: blue">Autor: @ViewData["autor"]</h2>
<h2 style="color: green">Hora: @ViewData["hora"]</h2>