<h1>Home</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-action="SubirFichero" asp-controller="Home">Subir fichero</a>
    </li>
    <li class="list-group-item">
        <a asp-action="EjemploMail" asp-controller="Home">Enviar mail</a>
    </li>
    <li class="list-group-item">
        <a asp-action="CifradoHash" asp-controller="Home">Cifrado Hash</a>
    </li>
    <li class="list-group-item">
        <a asp-action="CifradoHashEficiente" asp-controller="Home">Cifrado Hash EFICIENTE</a>
    </li>
</ul>
