<h1>Ejemplo Upload Files</h1>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="fichero" />
    <button type="submit" class="btn btn-primary">Subir fichero</button>
</form>
<h2>@ViewData["mensaje"]</h2>