<h1>Caching Distribuido</h1>

<a asp-action="HoraSistemaDistribuida" asp-controller="Caching">Actualizar página</a>

<a asp-action="HoraSistemaDistribuida" asp-controller="Caching" asp-route-dato="1">Dato 1</a>

<a asp-action="HoraSistemaDistribuida" asp-controller="Caching" asp-route-dato="2">Dato 2</a>

<h1 style="color: fuchsia">@ViewData["fecha"]</h1>