<h1>Credenciales Usuario</h1>

<form method="post">
    <label>Usuario: </label>
    <input type="text" name="username" class="form-control" /><br />
    <label>Password: </label>
    <input type="text" name="password" class="form-control" /><br />
    <button type="submit" class="btn btn-danger">Log in</button>
</form>
<h1>@ViewData["mensaje"]</h1>